@import "tailwindcss";
@import "react-calendar/dist/Calendar.css";

.react-calendar {
    border:none !important;
    width: 100% !important;
    background: transparent !important;
}

.react-calendar_tile--active {
    background-color: #2563eb !important;
    color: white !important;
    border-radius: 8px;
}

.react-calendar_tile:hover {
    background-color: #e0e7ff !important;
    border-radius: 8px;
}

.react-calendar_navigation button {
    color: #2563eb;
    font-weight: 600;
}